.container
    .row
        .col-12
            .open-sans.mt-2.white-text
                h5 Nuestra empresa cuenta con un equipo de profesionales íntegramente avocados a la actividad, y enfocados en brindar las más apropiadas soluciones constructivas para optimizar los tiempos de obra. Logrando así el mejor rendimiento económico para nuestros #[span.font-weight-bold COMITENTES].

                h5 Brindamos además servicios para #[span.font-weight-bold GERENCIAMIENTO, DESARROLLO] de proyectos de inversión Inmobiliaria, direccionando de la mejor manera la inversión de nuestros #[span.font-weight-bold CLIENTES].
.grid-obras.d-grid.py-3
    +galeriaDeObras(obras)