- let titlePage = "CAMBIAR EL TITULO DE LA PAGINA"
- 
    let obras = [
        {
            title: 'Fábrica Franco Pasotti',
            description: 'CABA. Obra finalizada.Trabajos de estructura en Hormigón Armado, Albañilería, instalaciones y fabricación de estructura metálica',
            images: 'img/obras/01/',
            quantity: 18
        },{
            title: 'Valentín Alsina',
            description: 'Valentín Alsina. Obra finalizada.Trabajos de estructura en Hormigón Armado, Albañilería, instalaciones y fabricación de estructura metálica',
            images: 'img/obras/02/',
            quantity: 12
        },{
            title: 'Ramos Mejía',
            description: 'Ramos Mejía. Obra finalizada.Trabajos de estructura en Hormigón Armado. PB Y 4 PISOS',
            images: 'img/obras/03/',
            quantity: 2
        },{
            title: 'Haedo',
            description: 'Haedo. Obra en construcción.Trabajos de estructura en Hormigón Armado. SUBSUELO-PB Y 8 PISOS',
            images: 'img/obras/04/',
            quantity: 8
        },{
            title: 'Ramos Mejía',
            description: 'Ramos Mejía. Obra en construcción,Trabajos de estructura en Hormigón Armado. PB Y 10 PISOS',
            images: 'img/obras/05/',
            quantity: 7
        },{
            title: 'Edificio San Justo',
            description: 'San Justo. Obra en construcción.Edificio de 1600 m2. 22 dptos y oficinas.',
            images: 'img/obras/06/',
            quantity: 28
        },{
            title: 'Euskal Herria Centro Comercial',
            description: 'Gral. Pacheco. Obra finalizada.Trabajos de Mampostería',
            images: 'img/obras/07/',
            quantity: 12
        },{
            title: 'Instalación Contra Incendio',
            description: 'CABA. Obra finalizada.Instalación completa de hidrantes y rociadores para 1900 m2',
            images: 'img/obras/08/',
            quantity: 9
        },
    ]